
.fill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.content {
    composes: fill;
    top: 40px;
    text-align: center;
}
.hsl {
    composes: fill;
    color: white;
    padding-top: 20px;
    font-size: 30px;
}
.rgb  {
    composes: fill;
    color: white;
    padding-top: 20px;
    font-size: 30px;
}

.nav {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  height: 40px;
  width: 100%;
  display: flex;
};

.navItem {
  text-align: center;
  flex: 1;
  list-style-type: none;
  padding: 10px;
};

